.PostCreate > div {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
    margin: auto;
    margin-top: 50px;
}

h1 {
    color: black;
    text-align: center;
}

.PostForm {
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, .5);
    padding: 15px;
    border-radius: 5px;
}

button {
    margin-right: 15px;
}